{{ define "main" }}

<section cds-layout="vertical gap:lg container:md">
  <h1 cds-text="heading">{{ .Title }}</h1>
  {{ with .Params.tags }}
  <div cds-layout="horizontal gap:xs">
    {{ range . }}
    <a href="{{ "tags/" | absURL }}{{ . | urlize }}"><cds-tag status="info">{{ . }}</cds-tag></a>  
    {{ end }}
  </div>
  {{ end }}
  <time datetime="{{ .Date }}">{{ .Date | time.Format ":date_long" }}</time>

  <div cds-text="body" cds-layout="vertical gap:lg">
    {{ .Content }}
  </div>
</section>
{{ end }}
